/* ------- fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* ------ Body ------ */
body {
    margin: 0;
    color: #62738D;
    font-family: 'Poppins', sans-serif;
    background-color: #0F172A;

}


.card-title,
.card-text {
    color: white;
}